.containerCreate{
  background-image: url('../../images/body.gif');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.bodyCreate{
  background-color: rgba(255, 255, 255, 0.583);
  border-radius: 20px;
  height:max-content;
  background-position: center;
  text-align: center;
  position: fixed;
  top: 15%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;

}

.chosenTypes{
  height: min-content;
  background-color: rgba(135, 206, 250, 0.456);
  border-radius: 20px;
  font-size: x-large;
  font-size: xx-large;
  text-align: center;
  cursor: pointer;
  text-decoration: none;

}

.h1Create{
  color: rgb(0, 0, 0);
  text-align: center;
}

.inputCreate{
  top: 50%;
}

.labelCreate{
  height: min-content;
  background-color: rgba(173, 190, 230, 0.48);
  margin: 3px;
  padding:1px;
}

.container{
  height: 100%;
}

.element{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.buttonCreate1{
  background-color: #2e7fa4;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  margin: 2px;
}

.buttonCreate2{
  background-color: #2e7fa4;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  margin: 2px;
}
  
.buttonCreate2:hover {
  background-color: #2c7797;
}

.buttonCreate2:active {
  background-color:#226886;
}
