.unOrderedList{
    display: flex;
    justify-content: center;
    font-size: x-large;

}
.pages:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 16px #000000b8;
    text-align: center;
    transition: all 0.25s;

}

.pages{
    position: relative;
    display: flex;
    width: min-content;
    height: min-content;
    border-radius: 8px;
    background-color: rgb(250, 135, 135);
    padding: 0.5rem;
    justify-content: center;
    cursor: pointer;
    margin: 2px;
}

.number{
    color:black
}