.home{
    justify-content: center;
}
.container{
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    height: min-content;
    text-align: center;
}
.container .cards {
    justify-content: center;
    margin: 2rem;
    border: 2px solid black;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) ;
    border-radius: 8px;
    width: min-content;
    height: min-content;
    transition: all 0.25s;
    text-align: center;

}

.container .cards:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px #000000b8;
    text-align: center;
}

/* .background{
    position:absolute;
    background-color:lightgreen ;
    background-image: url(https://2minutetabletop.com/grass-textures-seamless-tiling/);
    background: #fff;
    color: rebeccapurple;
} */

.paging{
    /* position: relative; */
    height: min-content;
    background-color: lightblue;
    border-radius: 20px;
    /* padding: 0.5rem; */
    cursor: pointer;
    margin: 2px;
}

.button{
    cursor: pointer;
    margin: 2px;
}