.card {
  margin: 20px;
  text-align: center;
  border: 2px;
}

.linkCard{
  text-decoration: none;
  color:rgb(0, 0, 0)
}

.card-title {
  margin:1px;
  width: min-content;
  height: min-content;
  background-color: rgba(173, 230, 196, 0.47);
  border-radius: 20px;
  padding: 0.3rem;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.types{
  position: relative;
  display: flex;
  width: min-content;
  height: min-content;
  background-color: rgba(242, 250, 135, 0.488);
  border-radius: 20px;
  padding: 0.5rem;
  justify-content: center;
}
