.card {
  margin: 20px;
  text-align: center;
  border: 2px;
}

.card-title {
  margin-bottom: 15px;
  width:min-content;
  margin:1px;
  text-align: center;
  justify-content: center;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.types{
  position: relative;
  display: flex;
  width: min-content;
  height: min-content;
  background-color: lightskyblue;
  border-radius: 20px;
  border-color: aquamarine;
  padding: 0.5rem;
  justify-content: center;

}